@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <script>
        window.location = "http://localhost:50677/Dashboard/"; 
        </script>
    <div class="jumbotron">
        <h1 class="display-4">Hello,</h1>
        <p class="lead">THis is MII Proma</p>
        <hr class="my-4">
        <p>Automatically redirect to dashboard. If not, click button bellow</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="http://localhost:50677/Dashboard" role="button">Access dashboard</a>
        </p>
    </div>
}
else
{
    <div class="jumbotron">
        <h1>ProMa MII</h1>
        <p class="lead">Internal Project management</p>
    </div>
}



