@{
    ViewBag.Title = "Project List";
    Layout = "~/Views/Shared/_SharedDashboardLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-sm-10">
                <h6 class="element-header">
                    <h3 id="project_Title">Project List</h3>
                </h6>
            </div>
            <div class="col-sm-2">
                <button id="project_status" type="button" class="btn btn-outline-primary btn-lg">Primary</button>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Project Detail</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Task</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Project Member</a>
                <a class="nav-item nav-link" id="nav-file-tab" data-toggle="tab" href="#nav-file" role="tab" aria-controls="nav-file" aria-selected="false">File</a>
                <a class="nav-item nav-link" id="nav-tickets-tab" data-toggle="tab" href="#nav-tickets" role="tab" aria-controls="nav-tickets" aria-selected="false">Tickets</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" onclick="return GetById();" aria-labelledby="nav-home-tab">
                <div class="element-content">
                    <div class="row">

                        <div class="element-box" style="width:100%">
                            <div class="container-fluid">

                                <div class="element-box-tp">
                                    <div class="row">
                                        <div class="col-lg-7 col-xxl-6">
                                            <!--START - BALANCES-->
                                            <div class="element-balances">
                                                <div class="balance hidden-mobile">
                                                    <div class="balance-title">
                                                        Start date
                                                    </div>
                                                    <div class="balance-value">
                                                        <span id="project_start">xxx</span>
                                                    </div>
                                                </div>
                                                <div class="balance">
                                                    <div class="balance-title">
                                                        Due Date
                                                    </div>
                                                    <div class="balance-value">
                                                        <span id="project_end">xxx</span>
                                                    </div>
                                                    <div class="balance-link">
                                                    </div>
                                                </div>
                                                <div class="balance">
                                                    <div class="balance-title">
                                                        Estimate project deadline
                                                    </div>
                                                    <div class="balance-value danger">
                                                        <span id="project_running">xxx</span>
                                                    </div>
                                                    <div class="balance-link">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--END - BALANCES-->
                                        </div>
                                        <div class="col-lg-5 col-xxl-6">
                                            <!--START - MESSAGE ALERT-->
                                            <div class="alert alert-info borderless">
                                                <h5 class="alert-heading">
                                                    Projet Description
                                                </h5>
                                                <p id="project_description">
                                                    {{project_desc}}
                                                </p>
                                            </div>
                                            <!--END - MESSAGE ALERT-->
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="element-content">
                    <div class="row">

                        <div class="element-box" style="width:100%">
                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col-10"></div>
                                    <div class="col-1">
                                        <button type="button" data-target="#createtask" data-toggle="modal" class="btn btn-outline-primary">Create Task</button>
                                    </div>
                                    <div class="col-1">
                                        <button type="button" onclick="location.reload(); " class="btn btn-outline-primary">Refresh</button>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table width="100%" class="table table-lightfont" id="tableFiles">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Project Name</th>
                                                <th>Description</th>
                                                <th>Start Date</th>
                                                <th>Due Date</th>
                                                <!--<th>Priority</th>-->
                                                <th>Status</th>
                                                <!--
                                                <th>Assigned By</th>
                                                <th>Assigned To</th>-->
                                                <th>Action</th>
                                            </tr>

                                        </thead>
                                        <tbody id="ttask"></tbody>
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="element-content">
                    <div class="row">

                        <div class="element-box" style="width:100%">
                            <div class="container-fluid">

                                <div class="table-responsive">
                                    <table width="100%" class="table table-lightfont" id="tableFiles">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Project Name</th>
                                                <th>User Id</th>
                                                <th>Rule Name</th>
                                            </tr>

                                        </thead>
                                        <tbody id="tbodyprojectmember"></tbody>
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-tickets" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="element-content">
                    <div class="row">

                        <div class="element-box" style="width:100%">
                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col-10"></div>
                                    <div class="col-1">
                                        <button type="button" data-target="#modelAddTicket" data-toggle="modal" class="btn btn-outline-primary">+ Ticket</button>
                                    </div>
                                    <div class="col-1">
                                        <button type="button" onclick="location.reload(); " class="btn btn-outline-primary">Refresh</button>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table width="100%" class="table table-lightfont" id="tableFiles">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Status</th>
                                                <th>Date</th>
                                                <th>Message</th>
                                                <th>Action</th>
                                            </tr>

                                        </thead>
                                        <tbody id="ttickets"></tbody>
                                    </table>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="createtask" role="dialog" tabindex="-1" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Tasks
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input hidden="hidden" id="id" class="form-control" type="text">
                        <label for="">Project Name</label>
                        <!--<input id="Project_Id" class="form-control" placeholder="project id sementara" type="text">-->
                    </div>
                    <div class="form-group">
                        <label>Task Description</label>
                        <textarea id="task_description" placeholder="Insert task description" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Start Date</label>
                        <div class="date-input">
                            <input id="start_date" class="single-daterange  form-control" placeholder="Insert Start Date" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Due Date</label>
                        <div class="date-input">
                            <input id="due_date" class="single-daterange  form-control" placeholder="Insert Due Date" type="text">
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for=""> Priority</label>
                        <select id="task_priority" class="form-control"></select>
                    </div>-->
                    <div class="form-group">
                        <label for=""> Status</label>
                        <select id="status_task" class="form-control"></select>
                        <!--<input id="status_task" class="form-control" placeholder="status id sementara" type="text">-->
                    </div>
                    <!--
                    <div class="form-group">
                        <label for=""> Assign By</label>
                        <select id="task_by" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for=""> Assign To</label>
                        <select id="task_to" class="form-control"></select>
                    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                <button id="SaveTask" onclick="ValidateTask();" class="btn btn-primary" type="button"> Save changes</button>
                <button id="UpdateTask" onclick="ValidateTask();" class="btn btn-primary" type="button"> Update changes</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="emodeletictet" class="modal fade" id="modelAddTicket" role="dialog" tabindex="-1" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Tickets
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for=""> Status</label>
                        <select id="status_name" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="">Date</label>
                        <div class="date-input">
                            <input id="date" class="single-daterange  form-control" placeholder="Insert date" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea id="message" placeholder="Insert Message description" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <<div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
    <button  class="btn btn-primary" onclick="SaveTickets()" type="button"> Create</button>
    <button id="Update" onclick="Validate();" class="btn btn-primary" type="button"> Update changes</button>
</div>
        </div>
    </div>
</div>

<br /><br /><br /><br /><br /><br /><br />

@section Scripts {
    <script src="//static.filestackapi.com/filestack-js/2.x.x/filestack.min.js"></script>
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/Admin/ProjectDetail.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    html body.menu-position-side.menu-side-left.full-screen.with-content-panel div.all-wrapper.with-side-panel.solid-bg-all div.layout-w div.content-w div.content-i div.content-box div.row div.col-lg-10 div.element-content div.row div.element-box div.container-fluid div.table-responsive div#tableProjects_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer div.row {
        width: 100%;
    }
</style>