@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_SharedDashboardLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="element-box">
            <div class="jumbotron">
                <h1 class="display-1">
                    Welcome to ProMa
                </h1>
               <div class="lead">
                       Project Management Application for Mitra Integrasi Informatika, PT
                     </div>
            </div>
        </div>

    </div>
</div>


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>