@{
    ViewBag.Title = "Project Dashboard";
    Layout = "~/Views/Shared/_SharedDashboardLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h6 class="element-header">
            <h3>Project List</h3>
        </h6>
        <div class="element-content">
            <div class="row">

                <div class="element-box" style="width:100%">
                    <div class="container-fluid">
                        <div class="table-responsive">
                            <table width="100%" class="table table-padded table-lightfont" id="tableProjects">
                                <thead >
                                <tr>
                                    <th>No.</th>
                                    <th>Project Name</th>
                                    <th>Project Start</th>
                                    <th>Project Deadline</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>

                                </thead>
                                <tbody class="tbody"></tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modelAddNew" role="dialog" tabindex="-1" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Projects
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input hidden="hidden" id="id" class="form-control" type="text">
                        <label for="">Project Name</label><input id="project_Name" class="form-control" placeholder="Project Name" type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Start Date</label>
                        <div class="date-input">
                            <input id="project_start" class="single-daterange  form-control" placeholder="Insert start date" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">End Date</label>
                        <div class="date-input">
                            <input id="project_end" class="single-daterange  form-control" placeholder="Insert end date" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Project Description</label>
                        <textarea id="project_description" placeholder="Insert project description" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for=""> Status</label>
                        <select id="project_status" class="form-control">
                            
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Close</button>
                <button id="Save" onclick="Validate();" class="btn btn-primary" type="button"> Save changes</button>
                <button id="Update" onclick="ValidateEdit();" class="btn btn-primary" type="button"> Update changes</button>
            </div>
        </div>
    </div>
</div>

<br/><br/><br/><br/><br/><br/><br/>

@section Scripts {
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet"/>
    <script src="~/Scripts/Admin/ProjectScript.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    html body.menu-position-side.menu-side-left.full-screen.with-content-panel div.all-wrapper.with-side-panel.solid-bg-all div.layout-w div.content-w div.content-i div.content-box div.row div.col-lg-12 div.element-content div.row div.element-box div.container-fluid div.table-responsive div#tableProjects_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer div.row{
    width: 100%;
    }
   </style>